<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        h1{
            text-align: center;
        }
    </style>
</head>
<body>
    {% if user.is_staff %}
        <h1>Send email to all users</h1>
        {% if sent %}
            <p>E-mail sent successfully</p>
        {% else %}
            <div>
                <form action="" method="POST">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <input type="submit" value="send e-mail">
                </form>
            </div>
        {% endif %}
    {% else %}
        <h2>Sorry only staffs are allowed to view this page</h2>
    {% endif %}
</body>
</html>